.viewscreen-post{
  margin: 0 auto;
  padding: 0;
  bordeR: 0;
  font-size:100%;
}

/*javascript d3 realated styling*/
.graphLabels{
  font-size: 16;
  fill:#fff;
}

#plot1 svg{
  margin: 0 auto;
}

#plot1 line {
  stroke: #fff;
  stroke-width: 2;
}


.svg{
  position: relative;
  height: auto;
}

.plotAxis g, path, line{
  stroke: #fff;
}

body{
  margin: 0 auto;
  font-family: "Inconsolata";
  color: #fafafa;
  background-color: #262a30;
}


.header{
  height: 90px;
}

.page-header p{
  width: 60%;
}

/*Graph Specific CSS*/
.subIndexClass{
  padding: ;
}

.nav{
  width: 100%;
  background-color: #151617;
  height: 60px;
  margin: 0 auto;

  align-items: center;
  transition: background-color .2s;
  position: fixed;
  z-index: 1000;
}

.nav-logo{
  float: left;
  width: 15%;
  margin-left: 5%;
  display: inline-block;
}

.nav-title {
  width: 60%;
  text-align: center;
  display:inline-block;
}
.nav-title h1{
  font-weight: lighter;
  font-size: 100%;
}

.nav-burger{
  width: 15%;
  float: right;
  text-align: right;
  margin-right: 5%;
  display: inline-block;
}
.page{
  padding-top: 100px;
  text-align: left;
  margin: 0 auto;
}

.page-header{
  padding-top: 0px;
  padding-bottom: 40px;
  width: 100%;
  margin: 0 auto;
}

.page-header-narrow{
/*  padding: 0 50px 60px 40px;
*/  margin: 0 auto;
  width: 60%;
}

.page-header-wide{
  padding: 0 50px 60px 40px;
  margin: 0 auto;
  width: 90%;
}

.page-title{
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -5px;
  font-weight: 200;
}
.page-subtitle{
  margin: 30px 0 48px 0;
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
}

.page-img-bar{
  width: 100%;
  height: 400px;
  margin: 30px auto;
  display: flex;
  background-color: #000;
/*  background-image: url(geometricbackground.jpg);
*/}

.page-img{
  width: 80%;
  height: 400px;
  margin: 30px auto;
  display: flex;
  background-color: #000;
/*  background-image: url(geometricbackground.jpg);
*/}

.page-body{
  padding: 80px 25%;
  margin: 80px 0;
  font-size: 20px;
  line-height: 2;
  background-color: #262a30;
}

.page-body svg{
  margin: 0 auto;
  display: block;
}

.graph-div{
  padding: 80px 25%;
  margin: 80px 0;
/*  font-size: 20px;
  line-height: 2;*/
  background-color: #151617;
}

.footer{
  background-color: #151617;
  height: 200px;
  color: #fff;
  display: flex;
}

.footer .temp-span{
  width: 50%;
  margin: 30px auto;
}
.footer li{
  list-style: none;
}

.credits{
  font-size: 10px;
}

a:link {
  color:#fff;
}

a:visited{
  color: #fff;
}

/*subindexes table stles*/
.subindexes{
  text-align: center
}

.subindexes table{
  margin: 0 auto;
  border-spacing: 120px 0px;
}

.subindexes th{
  padding-top: 40px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
/*  border-bottom: 1px solid #fff;
*/margin-bottom: 10px;
  width: 5%;
}

.subindexes tr{
  margin: 0 auto;
}

.subindexes td{
  color: #898989;
  font-size: 12px;
  width: 300px;
  padding: 0px 40px;
}

/*#row2{
  border-spacing: 120px 0px;
}*/